.wrap {
  max-width: 721px;
  margin: 0 auto;
}

.infos {
  display: flex;

  > div + div {
    margin-left: 1.333rem;
  }
}

.footer {
  margin-top: 4.444rem;
}


.preview {
  display: block;
  width:100%;
  margin-top: 5.5rem;
  background: var(--heading);
  color: var(--background);
  text-align: center;
  border-radius: 4px;
  padding: 1rem;
  font-weight: 600;
  font-size: 1.125rem;
}
