* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background: #1A1D23;
  --body: #D7D7D7;
  --border: #282C34;
  --heading: #F8F8F8;
  --highlight: #FF57B2;
  --info: #BBBBBB;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body {
  color: var(--body);
  background: var(--background);
}

body, input, textarea, select, button {
  font-size: 1rem;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--heading);
  font-weight: 700;
}

button {
  cursor: pointer;
  transition: filter 0.2s;
  color: var(--highlight);

  &:hover {
    filter: brightness(0.8);
  }
}

a {
  color: var(--highlight);
  text-decoration: none;
  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.7);
  }
}
