.container {
  > div + div {
    margin-top: 2.666rem;
  }
}

.button {
  color: var(--highlight);
  border: 0;
  font-size: 1.125rem;
  font-weight: 600;
  background: transparent;
  margin-top: 3.555rem;
}
